nav li a:hover
{
  cursor: pointer;
}
textarea
{
  width: 100%;
  height: 500px;
  border: none;
  padding: 3%;
}
#output
{
  width: 100%;
  height: 100%;
  border: 1px solid #eaedef;
}
#go
{
  cursor: pointer;
}