nav li a:hover
{
  cursor: pointer;
}
#output
{
  width: 100%;
  height: 100%;
  border: 1px solid #eaedef;
}
#go
{
  cursor: pointer;
}
.slmodal:hover
{
	background-color: #f8f9fa;
  cursor: pointer;
}